<!-- Modal Ingreso -->
<div class="modal fade" id="modalIngreso" tabindex="-1" aria-labelledby="modalIngresoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="modalIngresoLabel">Añadir Ingreso</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <form method="post" action="{% url 'agregar_ingreso' %}">
        {% csrf_token %}
        <div class="modal-body">
          {{ ingreso_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Gasto -->
<div class="modal fade" id="modalGasto" tabindex="-1" aria-labelledby="modalGastoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="modalGastoLabel">Añadir Gasto</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <form method="post" action="{% url 'agregar_gasto' %}">
        {% csrf_token %}
        <div class="modal-body">
          {{ gasto_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
